@import "./utils/variables";
@import "./base/base_style";
@import "./components/header";
@import "./components/hero";
@import "./components/main-section";
@import "./components/presentation";
@import "./components/_our-team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";
@import "./components/batton-menu";
@import "./components/list-projekt";
@import "./components/mobile-menu";
