.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  // display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
  color: $text-color-white;
}

.footer-logo-span {
  color: $color_hover_active;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: $text-color-white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color_hover_active;
  }
}

.footer-contact {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color_hover_active;
  }
}

.social {
  margin-left: 70px;
}
.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $text-color-white;
  text-transform: uppercase;
}

.social-list-footer {
  display: flex;
}

.social-item-footer {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color_hover_active;
  }
}

.social-icon-footer {
  fill: #ffffff;
}

.form-footer {
  margin-left: 93px;
  position: relative;
  align-items: end;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $text-color-white;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-form-input {
  display: block;
  width: 358px;
  min-height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0 16px;
  color: $text-color-white;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form-button {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    background-image: url(../img/svg/icon-send.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #1b85db;
  }
}
