.hero {
  @media screen and (max-width: 1199px) {
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
  }

  margin: 0 auto;
  max-width: 1600px;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/Img-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  padding-top: 200px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $text-color-white;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    font-size: 26px;
    line-height: 1.61;
  }
}

.button {
  display: inline-block;
  border: none;
  margin-top: 30px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $text-color-white;
  background-color: $color_hover_active;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $text-color-white;
    background-color: $button-hover-color;
  }
}
