.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  // min-width: 528px;
  // min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: flex;
  background-color: #ffffff;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.button-icon {
  fill: rgb(0, 0, 0);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-button:hover & {
    fill: #2196f3;
    cursor: pointer;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-title;
  // padding-top: 40px;
  // margin-bottom: 12px;
}

.form-title {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $text-color-gray;
  // margin-bottom: 4px;
}

.input-ickon {
  position: relative;
}

.form {
  text-align: start;
  margin: 0 auto;
  // width: 448px;
}

.form-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  // padding-left: 42px;
  // margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $color_hover_active;
  }
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-input:focus + & {
    fill: $color_hover_active;
  }
}

.form-coments {
  display: block;
  resize: none;
  width: 100%;
  // min-height: 120px;
  // margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  overflow: auto;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $color_hover_active;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.form-checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-checkbox-input:checked + & {
    background-image: url(../img/svg/icon-check1.svg);
    background-color: $color_hover_active;
    background-size: contain;
    background-origin: border-box;
    border-color: $color_hover_active;
  }

  .form-checkbox-input:focus + & {
    border-color: $color_hover_active;
  }
}

.form-checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color-gray;
  // margin-left: 9px;
}

.form-checkbox-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $color_hover_active;
  text-decoration-line: underline;
}
