.presentation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-bottom: 94px;
}

.presentation-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: $color-title;
}

.presentation-list {
  display: flex;
}

.presentation-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.presentation-tumb {
  position: absolute;
  bottom: 0px;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.presentation-tumb-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color-white;
}
