body {
  font-family: "roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-inline-start: 0;
}

:active,
:hover,
:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: $mobile;
  }
  @media screen and (min-width: 768px) {
    width: $tablet;
  }
  @media screen and (min-width: 1200px) {
    width: $desktop;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
